* .iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/ build
/ catches
.externalNativeBuild

gen /
bin /
out /
.swp
.properties
.classpath
.idea /
.project
.settings
target /
build /
gradle/
.idea/
gradlew
.gradle /
* .pyc
* .class
* .log
local.properties
catches /
apks /
* .swp